body {
    height: 150vh;
    width: 100;
    margin: 0;
    padding: 0;
}

.navbar_container {
    background-color: purple;
    padding: 10px;
    width: 100vw;
    text-align: center;
    
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
   
    color:rgb(13, 118, 60);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.direita {
    background-color: black;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.esquerda {
    background-color: black;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
